body {
    background-color:#FEFEF2;
    font-family:helvetica, arial, verdana, sans-serif;
}
.errormessage { 
    font-weight:bold;
    text-align:center;
    color:red;
}
.statusmessage { 
    font-weight:bold;
    text-align:center;
    color:blue;
}
.status_ok {
    font-weight:bold;
    background-color: #00cc33;
    color:white;
}
.status_critical {
    font-weight:bold;
    background-color: #ff3300;
    color:white;
}
.status_warning {
    font-weight:bold;
    background-color: #ffa500;
    color:white;
}
.status_unknown {
    font-weight:bold;
    background-color: #bf44b2;
    color:white;
}
.title {
    text-align:left;
    font-size:large;
}
h1 {
    text-align: left;
    font-weight:bold;
    font-size:x-large;
}
h2 {
    text-align: left;
    font-weight:bold;
    font-size:large;
}
h3 {
    text-align: left;
    font-weight:bold;
    font-size:medium;
}
ul {
    list-style-type: square;
    margin: 0px;
}
table {
    border-collapse:collapse;
}
tr, th, td, tbody {
    border-style: inherit;
    border-color: inherit;
    border-width: inherit;
    text-align: left;
    vertical-align: top;
    padding:1px 3px 1px 3px;
}

table.no_border {
    border-style: none;
}
table.small_border {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
